#main{
      width:1100px;
    margin:auto;


}
#top{
    width:900px;
    float:left;
   border-bottom:5px solid #227799;
    background-color:#ddd;
    padding:50px 100px;

    
}

#content{width:1100px;
    float:left;
    min-height:400px;
}
#left{
    width:300px;
    padding:50px;
    min-height: 300px;
    float:left;
    background-color:#229977;
    color:#fff;
}
#left a{
    color:#2233cc;
    text-decoration:none;
}
#right{
    width:600px;
    padding:50px;
    float:left;
}
#footer{
    width:900px;
    padding:10px 100px;
    float:left;

    background-color:#229977;
    color:#fff;
    font-family:sans-serif;
    margin-bottom:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    border-top:2px inset #22aa99;
}
.btn1{
    color: #fff;
    background-color: #229977;
    padding: 10px 15px;
    border-radius: 5px;
}
#hov_txt{
}


/*-------------------------------------------------*/
    #hov_txt{

padding:5px 10px;
    background-color:#ccc;
    color:#999;
    font-family:courior;
    display:none;
        position:absolute;
}
input[type="text"],input[type="password"]{
    width: 200px;
    height: 30px;
    margin: 5px;
}
valid{
    color: red;
    display: inline-block;
}
strength{color:#cc4433;font-weight: bold}
